
.main{
    width: 100%;
    /* background: linear-gradient(rgba(17, 13, 230, 0.5)50%,rgba(14, 53, 223, 0.5)50%), url(); */
    /* background-position: center; */
    background-color: rgb(11, 11, 85);
    background-size: cover;
    height: 120vh;
    position: relative;
}

/* .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
} */
 .icon{
    width: 200px;
    float: left;
    height: 70px;

} 

.logo{
    color: #ff7200;
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    margin-top: 30px;
    float: left;
     padding-top: 15px;
    z-index: 10px;
    position: relative;
}
.logo h1{
 padding-top: 30px;
    position: absolute;
}




.image{ 
    position: relative  ;
    width: 125px;
    height: 100px;
    background: transparent;
    margin-top: -40px;
    right: 0px;
    opacity: 0.30;
    box-shadow: 0px 0px 20px 10px rgb(184, 183, 183),0px 0px 30px rgb(9, 31, 228);
    border-radius: 20px;
    
   }
.menu{
    margin-top: 30px;
    width: 400px;
    float: left;
    height: 70px;
}
.smenu{
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240%;
}
.smenu li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
.smenu li a{
    text-decoration: none;
    color: #030303;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
.smenu li a:hover{
    background-color:#ff7200;
}
.search{
    position: absolute;
    width: 330px;
    float: left;
    margin-left: 720px;
    margin-top: 18px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff7200;
    font-size: 15px;
    margin-top: 0px;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.btn{
width: 100px;
height: 40px;
background: #ff7200;
border: 2px solid 7200;
color: #fff;
font-size: 15px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
.btn:hover{
    color: black;
}
.content{
    position: relative;
    /* width: 100%; */
    margin-top: 100px;
    color: aliceblue;
    margin-left: 50px;
}

.content span{
   color: #ff7200;
   font-size: 40px;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    letter-spacing: 2px;
}
    

.co1{
    text-align: justify;
    font-size: 20px;
    width: 50%;
}
.content .j1{
    width: 160px;
    height: 40px;
background-color: #ff7200;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.content .j1 a{
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
    
}
.j1:hover{
    background-color: #fff;
}
/* front image */
.frontimage{
    
    margin-left: 60%;
    margin-top: -50%;
}
.frontimage img{
    width: 40%;
    height: 60vh;
    opacity: 0.s;
    border-radius: 10px;
    position: absolute;

}

/* login */

.form{
    width: 250px;
    height: 320px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 10px;
    padding: 25px;
    margin-top: 200px;
    margin-left: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-right: none;
    border-top: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
 ::placeholder{
    color: #fff;
    font-family: Arial;
}
.btrn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btrn:hover{
    background: #fff;
    color: #ff7200;
}
.btrn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .line a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
}
.icon a{
    text-decoration: none;
    color: #fff;
}
.icon ion-icon{
    color: #fff;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 15px;
    transition: 0.4s;
}
.icon ion-icon:hover{
    color: #ff7200;
}



.progmain h1{
    font-size: 25px;
    padding-top: 10px;
    color: #ff7200;
}
.progmain{
    position: relative;
}
.prog{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 6vh;
    padding-top: 20px;
    font-size: 18px;

}
.prog2{
    display: flex;
    
    justify-content: space-between;
    width: 70%;
  
    padding-top: 20px;
    color: #ff7200;
}
.prog h3{
    font-size: 18px; 
}
.prog2 h3{
    font-size: 18px;
}
#on{
    margin-left: 60px;
}
#compi{
    margin-left: 190px;

}
#annu{
    margin-left: 150px; 
}
.naviback{
    width: 100%;
    height: 20vh;
    background-color: #fff;
    align-items: center;
    position: fixed;
    top: -30px;
    left: 0px;
    z-index: 300;
}




